@import url(https://fonts.googleapis.com/css?family=Dosis:700);

:root {
    --main--color: rgb(231, 76, 60);
    --main--color-shadow: rgba(231, 77, 60, 0.376);
    --main--color-light: #e74d3c15;
  }

body {
    font-family: 'Dosis', sans-serif;
    background: #ecf0f1;
}

.KK-restaurantName {
    color: var(--main--color);
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0px;
}

.KK-subTitle {
    color: black;
    text-align: center;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.KK-inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    flex-basis: 100%;
}

.KK-inputGroup {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    font-size: 2rem;
    width: 90%;
}

.KK-inputGroup-left {
    display: flex;
    flex-basis: 42%;
    align-items: center;
    justify-content: flex-end;
}

.KK-inputGroup-right {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-start;
}

input[type="range"].KK-input {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    outline: 0;
}

input[type="range"].KK-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--main--color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .3s ease-in-out;
}

input[type="range"].KK-input::-webkit-slider-thumb:hover, input[type="range"].KK-input:focus-visible::-webkit-slider-thumb {
    background-color: white;
    border: 2px solid  var(--main--color);
}

input[type="range"].KK-input::-webkit-slider-thumb:active {
    transform: scale(1.4);
}

.KK-rangeValue {
    position: relative;
    text-align: center;
    background: var(--main--color);
    color: white;
    padding: 5px 10px;
    margin-left: 20px;
    min-width: 2.5rem;
}

.KK-rangeValue::after {
    content: '';
    position: absolute;
    top: .75rem;
    left: -1.5rem;
    border: .75rem solid transparent;
    border-right-color: var(--main--color);
}

input[type=datetime-local].KK-input, input[type=text].KK-input, input[type=number].KK-input, input[type=date].KK-input {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding: 12px;
    font-size: large;
    min-width: 300px;
}

button.KK-button {
    background-color: var(--main--color);
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    margin: 10px;
    font-size: inherit;
    transition: .3s ease-in-out, visibility 0s;
    cursor: pointer;
    outline: none;
    user-select: none;
}

button.KK-button:hover:enabled, button.KK-button:focus-visible:enabled, button.KK-button.active:enabled {
    background-color: white;
    border: 2px solid  var(--main--color);
    color: var(--main--color);
    box-shadow: 0 10px 18px var(--main--color-shadow);
    transform: translateY(-4px);
}

button.KK-button:active:enabled, button.KK-button.active:enabled {
    box-shadow: 0 5px 9px var(--main--color-shadow);
    transition: .1s;
}

button.KK-button:disabled {
    cursor: not-allowed;
    background-color: var(--main--color-shadow);
}

.KK-navigation {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: inherit;
    padding: 5px;
    display: flex; 
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
}

.KK-navigationButton-containerLeft {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.KK-navigationButton-containerRight {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
}

button.KK-navigationButton {
   min-width: 9ch;
}

.no-arrow {
    -moz-appearance: textfield;
  }
.no-arrow::-webkit-inner-spin-button {
display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.KK-menuItem {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 2rem;
    width: 70%;
    min-width: 500px;
    margin-top: 5px;
}

.KK-menuItem-food {
}

.KK-menuItem-seperator {
    flex-grow:1;
    border-bottom:dotted 2px black;
    margin-bottom: 5px;
}

.KK-menuItem-price {
}

.KK-menuItem-addRemove {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.KK-menuItem-addRemove span {
    min-width: 3ch;
    text-align: center;
}

.KK-menuItem-additionalInformation {
    flex-basis: 100%;
    font-size: 1.5rem;
    padding-left: 5%;
    padding-right: 60%;
    
}

.KK-totalPriceContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 2rem;
    width: 70%;
    min-width: 500px;
    margin-top: 5px;
}

.KK-totalPrice {
    display: none;
    width: 11ch;
    text-align: end;
    padding: 5px 15px 5px 5px;
    border-top: 3px double black;
}

.KK-menuItem-addRemove .KK-button-plus, .KK-menuItem-addRemove .KK-button-minus {
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    width: 2.5ch;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
    cursor: pointer;
    outline: none;
    user-select: none;
    color: white;
}

.KK-menuItem-addRemove .KK-button-plus:disabled, .KK-menuItem-addRemove .KK-button-minus:disabled {
    cursor: not-allowed;
}

.KK-menuItem-addRemove .KK-button-plus {
    background-color: #008000;
}

.KK-menuItem-addRemove .KK-button-plus:disabled {
    background-color: #00800060;
}

.KK-menuItem-addRemove .KK-button-minus {
    background-color: #ff0000;
}

.KK-menuItem-addRemove .KK-button-minus:disabled {
    background-color: #ff000060;
}

.KK-menuItem-addRemove .KK-button-plus:hover:enabled,.KK-menuItem-addRemove .KK-button-plus:focus-visible:enabled {
    color: #008000;
    background-color: white;
    border-color: #008000;
    box-shadow: 0 5px 9px #00800060;
    transform: translateY(-2px);
}

.KK-menuItem-addRemove .KK-button-minus:hover:enabled, .KK-menuItem-addRemove .KK-button-minus:focus-visible:enabled {
    color: #ff0000;
    background-color: white;
    border-color: #ff0000;
    box-shadow: 0 5px 9px #ff000060;
    transform: translateY(-2px);
}

.KK-menuItem-addRemove .KK-button-plus:active:enabled {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);;
    transform: none;
    transition: .1s;
}

.KK-menuItem-addRemove .KK-button-minus:active:enabled {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);;
    transform: none;
    transition: .1s;
}

.KK-pageContainer {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
}

.KK-placeholder-100px {
    width: 100%;
    height: 100px;
}

.KK-collapse-button {
    width: 90%;
    font-size: 2rem;
    background-color: var(--main--color);
    border: 2px solid transparent;
    color: white;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    padding: 18px; 
    transition: .3s ease-in-out;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.KK-collapse-button:active, .KK-collapse-button.active {
    background-color: var(--main--color);
} 

.KK-collapse-button:hover, .KK-collapse-button:focus-visible {
    /* background-color: var(--main--color-dark); */
    background-color: white;
    color: var(--main--color);
    border: 2px solid var(--main--color);
    box-shadow: 0 5px 9px var(--main--color-shadow);
  
}

.KK-collapse-button:after {
    content: '\002B'; 
    font-size: 2rem;
    color: white;
    float: right;
    margin-left: 5px;
}

.KK-collapse-button:hover::after {
    color: var(--main--color);
}

.KK-collapse-button:active:after, .KK-collapse-button.active:after {
    content: '\2212';
}

.KK-collapse-content {
    width: 90%;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--main--color-light);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
}

.KK-collapse-content.active {
    padding: 18px !important;
    max-height: none !important;
}

.KK-text {
    font-size: 2rem;
    text-align: center;
}

.KK-table {
    width: 70%; 
    text-align: center;
    border-collapse: collapse;
}

.KK-tableHeader {
    font-size: 2rem;
    border-bottom: 2px solid black;
}

.KK-tableContent {
    font-size: 1.5rem;
}

tr .KK-button {
    padding: 3px 7px;
}

input:invalid {
    border: 1px solid red !important;
}

.KK-button-group {
    margin-top: 0px;
    margin-bottom: 25px;
}

.KK-button-group .KK-button {
    float: left;
    background-color: var(--main--color);
    border: 2px solid transparent;
    border-radius: 0px;
    color: white;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    padding: 5px 25px;
    margin: 0px;
    font-size: inherit;
    transition: .3s ease-in-out, visibility 0s;
    cursor: pointer;
    outline: none;
    user-select: none;
    font-size: 1.5rem;
}

.KK-button-group .KK-button:hover:enabled, .KK-button-group .KK-button:focus-visible:enabled, .KK-button-group .KK-button.active:enabled {
    transform: none;
}

.KK-button-group .KK-button.active:enabled {
    cursor: not-allowed;
}

.KK-button-group .KK-button:not(:first-child) {
    border-left: none !important;
}