.virtualRestaurantContainer {	
	position: relative; 
	display: flex;
	aspect-ratio: 1800 / 1400;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	user-select: none;
	filter: drop-shadow(0 0 0.25rem);
}

.background {
	left: 0%; 
	top: 0%; 
	position: absolute; 
	width: 100%;
	height: 100%;
	z-index: 1;
}

.table {
	z-index: 20;
}

.table:hover {
	filter: drop-shadow(0 0 0.5rem yellow);
}

.highlight {
	filter: drop-shadow(0 0 0.25rem yellow);
}

.not-available{
	filter: drop-shadow(0 0 0.25rem red);
	cursor: not-allowed;
	opacity: 0.2;
}

.not-available:hover{
	filter: drop-shadow(0 0 0.25rem red);
}

.selected{
	filter: drop-shadow(0 0 0.25rem green);
}

.selected:hover{
	filter: drop-shadow(0 0 0.5rem green);
}

.background img {
	width: 100%;
	height: auto;
}

.vierer {
	position: absolute;
	width: 8.5%;
	height: 8.79%;
}

.viererVert {
	position: absolute;
	width: 6.83%;
	height: 10.93%;
}

.zweier {
	position: absolute;
	width: 6.83%;
	height: 5.21%;
}

.zweierVert {
	position: absolute;
	width: 4.06%;
	height: 8.79%;
}

.bar {
	position: absolute;
	width: 31.83%;
	height: 13.57%;
}

.table img {
	width: 100%;
	height: auto;
}

.bar img {
	width: 100%;
	height: auto;
}

.vierer .stuhl-1 {
	left: 9.8%; 
	top: 0%; 
	position: absolute; 
	width: 34.64%;
	height: 43.09%;
	z-index:11;
}

.vierer .stuhl-2 {
	left: 55.56%; 
	top: 0%; 
	position: absolute; 
	width: 34.64%;
	height: 43.09%;
	z-index:11;
}

.vierer .stuhl-3 {
	left: 9.8%; 
	top: 56.91%; 
	position: absolute; 
	width: 34.64%;
	height: 43.09%;
	z-index:11;
}

.vierer .stuhl-4 {
	left: 55.56%; 
	top: 56.91%; 
	position: absolute; 
	width: 34.64%;
	height: 43.09%;
	z-index:11;
}

.vierer .tisch {
	left: 0%; 
	top: 20.33%; 
	position: absolute; 
	width: 100%;
	height: 59.35%;
	z-index:12;
}

.viererVert .stuhl-1 {
	left: 0%; 
	top: 9.8%; 
	position: absolute; 
	width: 43.09%;
	height: 34.64%;
	z-index:11;
}

.viererVert .stuhl-2 {
	left: 56.91%; 
	top: 9.8%; 
	position: absolute; 
	width: 43.09%;
	height: 34.64%;
	z-index:11;
}

.viererVert .stuhl-3 {
	left: 0%; 
	top: 55.56%; 
	position: absolute; 
	width: 43.09%;
	height: 34.64%;
	z-index:11;
}

.viererVert .stuhl-4 {
	left: 56.91%; 
	top: 55.56%; 
	position: absolute; 
	width: 43.09%;
	height: 34.64%;
	z-index:11;
}

.viererVert .tisch {
	left: 20.33%; 
	top: 0%; 
	position: absolute; 
	width: 59.35%;
	height: 100%;
	z-index:12;
}

.zweier .stuhl-1 {
	left: 0%; 
	top: 13.7%; 
	position: absolute; 
	width: 43.09%;
	height: 72.6%;
	z-index:11;
}

.zweier .stuhl-2 {
	left: 56.91%; 
	top: 13.7%; 
	position: absolute; 
	width: 43.09%;
	height: 72.6%;
	z-index:11;
}

.zweier .tisch {
	left: 20.33%;  
	top: 0%;
	position: absolute; 
	width: 59.35%;
	height: 100%;
	z-index:12;
}

.zweierVert .stuhl-1 {
	left: 13.7%; 
	top: 0%; 
	position: absolute; 
	width: 72.6%;
	height: 43.09%;
	z-index:11;
}

.zweierVert .stuhl-2 {
	left: 13.7%; 
	top: 56.91%; 
	position: absolute; 
	width: 72.6%;
	height: 43.09%;
	z-index:11;
}

.zweierVert .tisch {
	left: 0%; 
	top: 20.33%; 
	position: absolute; 
	width: 100%;
	height: 59.35%;
	z-index:12;
}

.bar .stuhl-1 {
	left: 8.38%; 
	top: 72.11%; 
	position: absolute; 
	width: 9.25%;
	height: 27.89%;
	z-index:11;
}

.bar .stuhl-2 {
	left: 23.21%; 
	top: 72.11%; 
	position: absolute; 
	width: 9.25%;
	height: 27.89%;
	z-index:11;
}

.bar .stuhl-3 {
	left: 38.05%; 
	top: 72.11%; 
	position: absolute; 
	width: 9.25%;
	height: 27.89%;
	z-index:11;
}

.bar .stuhl-4 {
	left: 52.88%; 
	top: 72.11%; 
	position: absolute; 
	width: 9.25%;
	height: 27.89%;
	z-index:11;
}

.bar .stuhl-5 {
	left: 67.71%; 
	top: 72.11%; 
	position: absolute; 
	width: 9.25%;
	height: 27.89%;
	z-index:11;
}

.bar .stuhl-6 {
	left: 82.55%; 
	top: 72.11%; 
	position: absolute; 
	width: 9.25%;
	height: 27.89%;
	z-index:11;
}

.bar .tresen {
	left: 0%; 
	top: 48.95%; 
	position: absolute; 
	width: 100%;
	height: 33.16%;
	z-index:12;
}

.bar .tresenVert {
	left: 89.00%; 
	top: 0%; 
	position: absolute; 
	width: 10.99%;
	height: 82.11%;
	z-index:12;
}


/* Table positions */
#table_1 {
	left: 5%; 
	top: 2.79%;
}

#table_2 {
	left: 14.33%; 
	top: 2.79%;
}

#table_3 {
	left: 23.67%; 
	top: 2.79%;
}

#table_4 {
	left: 33%; 
	top: 2.79%;
}

#table_5 {
	left: 2.5%; 
	top: 14.29%;
}

#table_6 {
	left: 2.5%;
	top: 28.57%;
}

#table_7 {
	left: 2.5%; 
	top: 42.86%;
}

#table_8 {
	left: 20.06%; 
	top: 26.07%;
}

#table_9 {
	left: 33.72%; 
	top: 26.07%;
}

#table_10 {
	left: 20.06%; 
	top: 40.36%;
}

#table_11 {
	left: 33.72%; 
	top: 40.36%;
}

#table_12 {
	left: 22.33%; 
	top: 53.93%;
}

#table_13 {
	left: 32.67%; 
	top: 53.93%;
}

#bar {
	left: 54%; 
	top: 2.79%	
}

#table_14 {
	left: 42.44%; 
	top: 26.07%;
}

#table_15 {
	left: 56.11%; 
	top: 26.07%;
}

#table_16 {
	left: 75.22%; 
	top: 26.07%;
}

#table_17 {
	left: 88.89%; 
	top: 26.07%;
}

#table_18 {
	left: 42.44%; 
	top: 40.36%;
}

#table_19 {
	left: 56.11%; 
	top: 40.36%;
}

#table_20 {
	left: 75.22%; 
	top: 40.36%;
}

#table_21 {
	left: 88.89%; 
	top: 40.36%;
}

#table_22 {
	left: 46.06%; 
	top: 53.93%;
}

#table_23 {
	left: 56.39%; 
	top: 53.93%;	
}

#table_24 {
	left: 76.61%; 
	top: 53.93%;
}

#table_25 {
	left: 86.94%; 
	top: 53.93%;
}

#table_26 {
	left: 2.17%; 
	top: 68.29%;
}

#table_27 {
	left: 17.89%; 
	top: 68.29%;
}

#table_28 {
	left: 30.33%; 
	top: 65.57%;
}

#table_29 {
	left: 45.17%; 
	top: 65.57%;
}

#table_30 {
	left: 58.56%; 
	top: 68.29%;
}

#table_31 {
	left: 81.61%; 
	top: 65.57%;
}

#table_32 {
	left: 2.17%; 
	top: 82.57%;
}

#table_33 {
	left: 17.89%; 
	top: 82.57%;
}

#table_34 {
	left: 30.33%; 
	top: 82.71%;
}

#table_35 {
	left: 45.17%; 
	top: 82.71%;
}

#table_36 {
	left: 58.56%; 
	top: 82.57%;
}

#table_37 {
	left: 81.61%; 
	top: 82.71%;
}





